body {
    margin: 0;
    background-color: #F6F8F9;
}


/* 
*  Intestazione Sito
*/
header {
    padding: 20px 10px;
    background-color: white;
    border-bottom: 2px solid #e9edef;
    box-sizing: border-box;
}

#logo {
    vertical-align: middle;
}

#logo-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}


/* 
*  Contenitore generale
*/
.container {
    width: 80%;
    margin: 50px auto 50px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}


/* 
*  Parte pulsanti funzione
*/
.menu {
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    border-bottom: 2px solid #F6F8F9;
}

.button {
    border-radius: 6px;
    font-size: 12px;
    padding: 5px 10px;
}

.enable {
    color: white;
    background-color: #47ADF1;
    border: 2px solid #47ADF1;
}

.disable {
    color: #e9edef;
    background-color: white;
    border: 2px solid #C8CED3;
}


/* 
*  Grafica task
*/

/* Categorie */
.categories {
    font-size: 18px;
    margin-top: 40px;
}

.categories::before {
    content: '\25BE';
    margin-right: 5px;
}

/* Attività */
.activity {
    margin-left: 50px;
}

.activity > ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Testo attività */
.check {
    
}

/* Icone prime di attività */
.check::before {
    display: inline-block;
    height: 15px;
    width: 15px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    content: '\2713';
    color: #64C0A9;
    border: 2px solid #64C0A9;
    border-radius: 50%;
    margin-right: 10px;

}

.no::before {
    content: '\2715';
    color: red;
    border: 2px solid red;
    line-height: 16px;
}

/* Tags dopo attività */
.editorial::after {
    content: 'Editorial';
    font-size: 12px;
    color: white;
    background-color: #45ABEA;
    border-radius: 15px;
    padding: 7px 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.q1::after {
    content: 'Q1 Goals';
    font-size: 12px;
    color: white;
    background-color: #9C72E4;
    border-radius: 15px;
    padding: 7px 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.recruiting::after {
    content: 'Recruiting';
    font-size: 12px;
    color: white;
    background-color: #65C1AA;
    border-radius: 15px;
    padding: 7px 10px;
    margin-left: 10px;
    vertical-align: middle;
}
.mobile::after {
    content: 'Mobile';
    font-size: 12px;
    color: white;
    background-color: #F29E33;
    border-radius: 15px;
    padding: 7px 10px;
    margin-left: 10px;
    vertical-align: middle;
}
.website::after {
    content: 'Website';
    font-size: 12px;
    color: white;
    background-color: #D863A1;
    border-radius: 15px;
    padding: 7px 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.sales::after {
    content: 'Sales';
    font-size: 12px;
    color: white;
    background-color: #B0C926;
    border-radius: 15px;
    padding: 7px 10px;
    margin-left: 10px;
    vertical-align: middle;
}